<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.harinezumi.app" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.harinezumi.app.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
        android:name=".MonkeyAction"
        android:label="@string/title_monkey" >
    </activity>
        <activity
            android:name=".BearAction"
            android:label="@string/title_bear" >
        </activity>
        <activity
            android:name=".MouseAction"
            android:label="@string/title_mouse" >
        </activity>
        <activity
            android:name=".PigAction"
            android:label="@string/title_pig" >
        </activity>
        <activity
            android:name=".TigerAction"
            android:label="@string/title_tiger" >
        </activity>
    </application>

</manifest>
